extends layout.pug

block content
  section(class="hero is-medium is-primary is-bold")
    .hero-body
      div(class="container has-text-centered")
        div(class="column is-6 is-offset-3")
          h1.title  Bienvenido a #{title}
            h2.subtitle Pegatinas personalizadas super baratas.
