extends layout.pug

block content
  section(class="hero is-medium is-primary is-bold")
    .hero-body.cover
      div(class="container has-text-centered")
        div(class="column is-6 is-offset-3")
          h1.title  Bienvenido a #{title}
            h2.subtitle Pegatinas personalizadas super baratas.
            a(href="/products" class="button call-to-action is-success is-large is-hovered") Mejora tu vida
